<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AKITASK</title>
    <link rel="stylesheet" href="../Static/style.css">
    <link rel="icon" href="../Static/Img/LogoSolo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <header class="">
      <div class="card-header">
        <div class="row justify-content-between">
          <div class="col-6">
            <img class="Logos" src="../Static/Img/Ubicacion.png" alt="Ubicacion">
            <h3>Bogota, Colombia</h3>
          </div>
          <div class="col-2">
            <img class="Logos" src="../Static/Img/f.png" alt="Facebook">
            <img class="Logos" src="../Static/Img/T.png" alt="Twitter">
            <img class="Logos" src="../Static/Img/I.png" alt="Instagram">
            <img class="Logos" src="../Static/Img/git.png" alt="Git">
          </div>
        </div>
      </div>
    </header>
    <nav class="">
          <div class="row justify-content-between">
            <div class="col-3">
              <img class= "Logo" src="../Static/Img/Logotipo.png" alt="Arkitask">
            </div>
            <div class="col-6">
              <a href="#"><button type="submit" class="btn btn-outline-dark border-0">Inicio</button></a>
              <a href="#"><button type="submit" class="btn btn-outline-dark border-0">Arkitask</button></a>
              <a href="#"><button type="submit" class="btn btn-outline-dark border-0">Modulos</button></a>
              <a href="#"><button type="submit" class="btn btn-outline-dark border-0">Ventajas</button></a>
              <a href="#"><button type="submit" class="btn btn-outline-dark border-0">Funcionalidades</button></a>
              <a href="#"><button type="submit" class="btn btn-outline-dark border-0">Contacto</button></a>
            </div>
            <div class="col-2">
              <a href="../Template/login.html">
                <button type="submit" class="btn btn-warning">Iniciar Sesión</button>
              </a>
            </div>
          </div>
        </div>
    </nav>
    <section id="Front">
      <div class="row justify-content">
        <div>
          <center><h2>OPTIMIZA EL TIEMPO</h2><br>
          <h1>ADMINISTRA PROYECTOS EFICAZMENTE</h1></center>
        </div>
        <div>
          <a href="#"><button type="submit" class="btn btn-outline-warning">VER MODULOS</button></a>
          <a href="#"><button type="submit" class="btn btn-outline-warning">¡CONTÁCTANOS!</button></a>
        </div>
      </div>
    </section>  
</body>
</html>